@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 150.00000000000043 33.33333333333365% 98.82352941176471%;
    --foreground: 154.28571428571428 11.864406779661023% 11.568627450980392%;
    --card: 150 14.285714285714256% 97.25490196078431%;
    --card-foreground: 154.28571428571428 11.864406779661023%
      11.568627450980392%;
    --popover: 150.00000000000043 33.33333333333365% 98.82352941176471%;
    --popover-foreground: 154.28571428571428 11.864406779661023%
      11.568627450980392%;
    --primary: 15.999999999999996 17.786561264822137% 49.6078431372549%;
    --primary-foreground: 0 0% 100%;
    --secondary: 150 14.285714285714256% 97.25490196078431%;
    --secondary-foreground: 160.00000000000006 3.0612244897959147%
      38.431372549019606%;
    --muted: 150 14.285714285714256% 97.25490196078431%;
    --muted-foreground: 160.00000000000006 3.0612244897959147%
      38.431372549019606%;
    --accent: 167.27272727272725 61.49068322981367% 68.43137254901961%;
    --accent-foreground: 170.66666666666666 50.56179775280899%
      17.45098039215686%;
    --destructive: 358.4810126582278 69.2982456140351% 55.294117647058826%;
    --destructive-foreground: 350.64935064935065 62.601626016260155%
      24.11764705882353%;
    --border: 160 3.8961038961038836% 84.90196078431373%;
    --input: 160 3.8961038961038836% 84.90196078431373%;
    --ring: 160 3.8961038961038836% 84.90196078431373%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --base-1: 150.00000000000043 33.33333333333365% 98.82352941176471%;
    --base-2: 150 14.285714285714256% 97.25490196078431%;
    --base-3: 160 9.677419354838674% 93.92156862745098%;
    --base-4: 160 6.382978723404229% 90.7843137254902%;
    --base-5: 140 4.918032786885227% 88.0392156862745%;
    --base-6: 160 3.8961038961038836% 84.90196078431373%;
    --base-7: 150.00000000000023 4.000000000000013% 80.3921568627451%;
    --base-8: 149.99999999999977 2.898550724637692% 72.94117647058825%;
    --base-9: 157.49999999999986 3.418803418803419% 54.117647058823536%;
    --base-10: 157.4999999999999 3.149606299212604% 50.19607843137255%;
    --base-11: 160.00000000000006 3.0612244897959147% 38.431372549019606%;
    --base-12: 154.28571428571428 11.864406779661023% 11.568627450980392%;
    --accent-1: 168.00000000000006 71.42857142857154% 98.62745098039215%;
    --accent-2: 166.6666666666667 52.941176470588225% 96.66666666666666%;
    --accent-3: 165 70.00000000000001% 92.15686274509804%;
    --accent-4: 164.99999999999997 66.66666666666671% 87.05882352941177%;
    --accent-5: 165.26315789473685 60.00000000000002% 81.37254901960785%;
    --accent-6: 165.88235294117646 52.3076923076923% 74.50980392156863%;
    --accent-7: 166.66666666666666 45.76271186440678% 65.29411764705883%;
    --accent-8: 168.10810810810813 44.93927125506073% 51.56862745098039%;
    --accent-9: 166.8 70.42253521126757% 72.15686274509804%;
    --accent-10: 167.27272727272725 61.49068322981367% 68.43137254901961%;
    --accent-11: 169.83050847457628 96.72131147540985% 23.921568627450977%;
    --accent-12: 170.66666666666666 50.56179775280899% 17.45098039215686%;
  }
  .dark {
    --background: 150 5.88235294117647% 6.666666666666667%;
    --foreground: 150 5.555555555555538% 92.94117647058823%;
    --card: 150 4.166666666666666% 9.411764705882353%;
    --card-foreground: 150 5.555555555555538% 92.94117647058823%;
    --popover: 150 5.88235294117647% 6.666666666666667%;
    --popover-foreground: 150 5.555555555555538% 92.94117647058823%;
    --primary: 17.500000000000007 22.857142857142858% 58.82352941176471%;
    --primary-foreground: 0 0% 100%;
    --secondary: 150 4.166666666666666% 9.411764705882353%;
    --secondary-foreground: 157.49999999999986 5.1282051282051295%
      69.41176470588235%;
    --muted: 150 4.166666666666666% 9.411764705882353%;
    --muted-foreground: 157.49999999999986 5.1282051282051295%
      69.41176470588235%;
    --accent: 167.53246753246754 79.38144329896912% 80.98039215686275%;
    --accent-foreground: 170.66666666666666 50.56179775280899%
      17.45098039215686%;
    --destructive: 359.58041958041963 79.00552486187846% 64.50980392156863%;
    --destructive-foreground: 349.5652173913044 100% 90.98039215686275%;
    --border: 150 3.508771929824561% 22.35294117647059%;
    --input: 150 3.508771929824561% 22.35294117647059%;
    --ring: 150 3.508771929824561% 22.35294117647059%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --base-1: 150 5.88235294117647% 6.666666666666667%;
    --base-2: 150 4.166666666666666% 9.411764705882353%;
    --base-3: 150.0000000000001 3.0303030303030307% 12.941176470588234%;
    --base-4: 160.00000000000006 3.7037037037036993% 15.88235294117647%;
    --base-5: 159.99999999999997 3.157894736842109% 18.627450980392158%;
    --base-6: 150 3.508771929824561% 22.35294117647059%;
    --base-7: 156.00000000000006 3.5460992907801394% 27.647058823529413%;
    --base-8: 154.28571428571428 3.7037037037037055% 37.05882352941177%;
    --base-9: 156.92307692307693 6.161137440758292% 41.37254901960784%;
    --base-10: 160 5.042016806722689% 46.666666666666664%;
    --base-11: 157.49999999999986 5.1282051282051295% 69.41176470588235%;
    --base-12: 150 5.555555555555538% 92.94117647058823%;
    --accent-1: 180 20% 6.862745098039216%;
    --accent-2: 180 28.57142857142857% 8.235294117647058%;
    --accent-3: 178.28571428571428 66.03773584905662% 10.392156862745097%;
    --accent-4: 177.93103448275863 100% 11.372549019607844%;
    --accent-5: 177.46478873239437 100% 13.92156862745098%;
    --accent-6: 174.85714285714286 68.62745098039215% 20%;
    --accent-7: 172.7027027027027 55.22388059701492% 26.27450980392157%;
    --accent-8: 169.77272727272728 53.012048192771076% 32.549019607843135%;
    --accent-9: 166.8 70.42253521126757% 72.15686274509804%;
    --accent-10: 167.53246753246754 79.38144329896912% 80.98039215686275%;
    --accent-11: 167.04 59.808612440191396% 59.01960784313726%;
    --accent-12: 155.51020408163262 71.01449275362323% 86.47058823529412%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
